{% extends 'base.html.twig' %}
{% block title %}
	Wish create form
{% endblock %}

{% block body %}
	<h1>Add your wish !</h1>
	<div>
		{{ form_start(createForm, {'attr': {'enctype': 'multipart/form-data'}}) }}

		{{ form_row(createForm.title) }}
		{{ form_row(createForm.description) }}
		{{ form_row(createForm.author) }}
        {{ form_row(createForm.category) }}		
		{{ form_row(createForm.image) }}

		<button type="submit" class="btn btn-primary btn-sm">Create</button>
		{{ form_end(createForm) }}

	</div>
{% endblock %}
